@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.head-hb{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 40px;
	background-color: #1e62c7;
	z-index: 9999;
	box-shadow: 0 4px 11px #434343;
}
.head-hb>*{
	display: inline-block;
}


.head-hb>div.line{
	margin-top:5px;
	height: 30px;
	width:1px;
	background-color: #5689d5;
	margin-left: 62px;
}

.head-hb>p{
	font-size:22px;
	color:#ffffff;
	cursor: pointer;
	margin:0;
	position:relative;
	top:-7px;
	left:5px;
}

#table_select{
	width:20%;
	height: 100%;
	position: fixed;
	left:0;
	top: 0;
	background: #0b48a2;
	font-size:24px;
	transition: all .5s;
}
#table_select.hidden{
	transform: translateX(-100%);
}
#table_select>section{
	margin-top:40px;
	position: relative;
	color:#ffffff;
	font-size:30px;
	margin:40px 0 0 0;
}


#table_select>section>h3{
	box-sizing: border-box;
	font-variant: small-caps;
	line-height: 0.9;	
	padding:12.5% 8%;
	font-size:30px;
	margin:0;
}
#table_select>section>ul{
	list-style: none;
	margin: 0;
	padding:0;
}
#table_select>section>ul>a{
	text-decoration: none;
	color:#ffffff;
}
#table_select>section>ul>a>li{
	box-sizing: border-box;
	padding: 2% 15%;
	position: relative;
}
#table_select>section>ul>a>li.selected{
	background-color: #0a3d88;
	margin-left:0px;
	margin-right: -2px;
}
#table_select>section>ul>a:hover>li{
	background-color:#0a3d88;
	margin-left:0px;
	margin-right: -2px;
}
#table_select>section>ul>a>li>i{
	display: none;
	color:#a02514;
	position: absolute;
	cursor: not-allowed;
	right: 10%;
	font-size: 0.8em;
}
#table_select>section>ul>a:hover>li>i{
	display: inline-block;
}
#table_select>section>button{
	
	display: flex;
	align-items: center;

	position:absolute;
	top:18%;
	right:8%;

	font-size: 20px;

	color:#ffffff;
	background-color:#18ad10;
	padding: 7px 10px; 
	border:0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: all .5s;
	opacity: 0.8;
}
#table_select>section>button:hover{
	opacity: 1;
}
.data_container{
	width:70%;
	margin:70px auto;
	transition: all .5s;
}
.data_container.short{
	margin-left:25%;
}
.data_container>table{
	width:70%;
	margin:5% auto;
}

.tbl-header th>i{
	color:#a02514;
	margin-left: 5%;
	display: none;
}
.tbl-header th:hover>i{
	display: inline-block;
}


.alert{
	position: fixed;
	bottom:0;
	width:100%;
	padding:15px 0;
	opacity: 0;

	text-align: center;
	margin-bottom: 0;

	font-size:20px;
	color:#ffffff;
	font-weight: bold;

	transition: opacity .5s;
}
.info{
	background-color: #209ded;
	opacity: 1;
}
.error{
	background-color: #8c0000;
	opacity: 1;
}
.complete{
	background-color: #2e9317;
	opacity: 1;
}



#addNew,#removeNew{
	text-align: center;
	color:blue;
	cursor: pointer;
}


#Chose_DB{
	position:fixed;
	left:0;
	top:0;
	z-index: 10000;
	width:100%;
	height: 100%;
	background-color: rgba(54,54,54,0.5);
}
#Chose_DB>div{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffffff;

	width:30%;
	max-width: 500px;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
#Chose_DB>div>hr{
	width:80%;
}
#Chose_DB>div>h1{
	color: #000000;
}
#Chose_DB>div>ul{
	list-style: none;
	padding: 0;
	width:100%;
}
#Chose_DB>div>ul>li{
	width:100%;
	padding: 2% 0;
	text-align: center;
	transition: all .5s;
	cursor: pointer;
}
#Chose_DB>div>ul>li:hover{
	color:#ffffff;
	background-color: #000000;
}

#data_settings { 
	font-size: 16px;
	padding: 10px;
	width:100%;
	box-sizing: border-box;
	border:1px solid #1e62c7;
	margin-bottom: 10px;
 }
 #data_settings>section>input {
 	width:40px;
 }
 #data_settings>section{
 	display: inline-block;
 	width:49.5%;
 }
 #data_settings>section:nth-of-type(2){
  	text-align: right;
  }
   #data_settings>section:nth-of-type(2)>input{
   	width: 20%;
   }
 #data_introduce>h3{
 	font-variant: small-caps;
 	font-size: 30px;
 	margin:0 10px;
 	font-weight: 400;
 }
 #data_introduce>hr{
 	margin-top: 0px;
 	margin-left: -25px;
 	margin-right: -25px;
 	margin-bottom: 7%;
 }

#data_createDB td{
	font-size: 18px;
}
#data_createDB .table_name>th{
	font-size: 18px;
}
#data_createDB .table_name>th>input{
	padding: 5px 10px;
	margin-left: 5px;
	font-size:20px;
}
#data_createDB th{
	font-size:1em;
}
#data_createDB tbody td{
	padding: 0;
}
#data_createDB tbody input{
	width:100%;
	font-size: 18px;
	margin-top:5px;

}